{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}牛斯狗评论{% endblock %}

{% block page_content %}
{%if current_user.is_authenticated()%}
    {{current_user.username}}，你好
{%else%}
    你好，请点击右上角登录
{%endif%}!
<div>
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>
<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_followed %} class="active"{% endif %} > <a href="{{ url_for('.show_all') }}">全部评论</a></li>
        {% if current_user.is_authenticated() %}
        <li{% if show_followed %} class="active"{% endif %} > <a href="{{ url_for('.show_followed') }}">关注的人</a></li>
        {% endif %}
    </ul>
    {% include '_posts.html' %}
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}


<hr />
<p>现在的时间是 {{ moment(current_time).format("YYYY-MM-DD,a h:mm:ss") }}.</p>
<!-- <p>That was {{ moment(current_time).fromNow(refresh=True) }}.</p> -->
{% endblock page_content%}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock scripts%}
